{% extends 'base.html' %}
{% load static %}
{% load custom_tags %}
{% load i18n %}
{% block title %}{{ article.title }}{% endblock %}
{% block content %}
    <header class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-xs-8">
        <h1>{{ article.title }}</h1>
            </div>
        </div>
    </div>
    </header>
    <div class="jumbotron jumbotron-inverse">
        <div class="container">
            <div class="row">
                <div class="col-xs-8">
                {% language 'ru' %}
                    <h3>{{ article.date_written | date:"d M, Y" }}</h3>
                {% endlanguage %}
                </div>
            </div>
        </div>
    </div>
<div class="container">
<div class="row">
<div class="col-xs-2"></div>
<div class="col-xs-8">
<div class="article-text">
    {{ article.text|safe }}
</div>
</div>
    <div class="col-xs-2"></div>
</div>
<div class="line"></div>
<div class="row">
    <div class="col-xs-2">
        <p><strong><span class="dark-blue">Комментарии </span><span class="text-muted">({{ article.comment_set.count }})</span></strong></p>
    </div>
</div>
<div class="row">
    <div class="col-xs-2">
        {% if not user.is_authenticated %}
            <p>Вы должны быть <a href="{% url 'auth_login' %}">зарегестрированы</a>, чтобы оставлять комментарии.</p>
        {% else %}
            <p><span class="text-muted">Вы вошли как<br></span><b>{{ user.username }}</b></p>
        {% endif %}
    </div>
    <div class="col-xs-6 comment-col col-xs-offset-1">
        {% comment_form article %}
    </div>
</div>
{% if article.comment_set %}
    {% for comment in article.comment_set.all %}
        <div class="row comment-row">
            <div class="col-xs-6 col-xs-offset-3 comment-col">
                {% show_comment %}
            </div>
        </div>
    {% endfor %}
{% endif %}
</div>
{% endblock %}
