{% extends 'base.html' %}
{% load i18n %}
{% load fb_versions %}
{% block title %}Статьи "В помощь конструктору"{% endblock %}
{% block content %}
    <div class="container">
        <div class="row">
    {% for article in articles %}
            <div class="col-xs-4 col-sm-3">
                <div class="thumbnail">
                <a href="{% url 'articles:detail' article.pk%}"
                   {% if not article.text %}
                        class="disabled"
                   {% endif %} >
                    {% if article.cover %}
                        <img src="{% version article.cover 'small' %}">
                    {% else %}
                        <img src="/media/uploads/bush.jpg" class="img-responsive">
                    {% endif %}
                    <div class="caption">
                        <h3>{{ article.title }}</h3>
                        {% language 'ru' %}
                        <p><span class="label label-warning">{{ article.date_written | date:"d M, Y" }}</span></p>
                        {% endlanguage %}
                    </div>
                </a>
                </div>
            </div>
    {% endfor %}
        </div>
    </div>
{% endblock %}
