{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>
    <meta http-equiv="X-UA-COMPATIBLE" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="{% static 'articles/css/bootstrap.min.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" type="text/css" href="{% static 'articles/css/style.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'articles/css/font-awesome.min.css' %}">
</head>
<body>
{% include 'nav.html' %}
{% block content %}
{% endblock %}
<script src="{% static 'articles/js/jquery-3.1.1.min.js' %}"></script>
<script src="{% static 'articles/js/bootstrap.min.js' %}"></script>
<script src="{% static 'articles/js/action.js' %}"></script>
</body>
</html>