{% extends 'base.html' %}
{% block nav-home %}
    <li class="active">
{% endblock %}
{% block title %}
    Статьи и каталоги
{% endblock %}
{% block content %}
    <header class="jumbotron">
        <div class="container">
            <div class="row">
                <div class="col-xs-8">
                    <h1>Добро пожаловать!</h1>
                    <p>На сайте собраны ссылки на каталоги машиностроительной продукции, опубликованы статьи автора и интересные новости из мира машин. Сайт будет полезен, прежде всего, конструкторам-машиностроителям, студентам, аспирантам и любителям техники.
                        <a href="#" class="btn btn-warning">Дальше <span class="glyphicon glyphicon-chevron-right"></span></a>
                    </p>
                </div>
                <div class="col-xs-4"></div>
            </div>
        </div>
    </header>
{% endblock %}