{% load static %}

<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container">
    <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
            data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
        <a href="{% url 'index' %}" class="navbar-brand">
            <img src="/media/logo2.jpg" height="40" >
        </a>
</div>
    <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            {% if request.path == '/' %}
                <li class="active">
            {% else %}
                <li>
            {% endif %}
            <a href="{% url 'index' %}" id="home_link">Главная</a></li>
            {% if '/articles/' in request.path %}
                <li class="active">
            {% else %}
                <li>
            {% endif %}
            <a href="{% url 'articles:list' %}" id="articles_list_link">Статьи</a></li>
            {% if request.path == '/book/' %}
                <li class="active">
            {% else %}
                <li>
            {% endif %}
            <a href="{% url 'book:index' %}">Книга</a></li>
        </ul>
    {% if user.is_authenticated %}
        <p class="navbar-text navbar-right">Вы вошли как {{ user.username }} <a href="{% url 'auth_logout' %}?next={{ request.path }}"
        class="btn btn-info navbar-btn">Выйти</a></p>
    {% else %}
    <form class="navbar-form navbar-right" role="form" action="{% url 'auth_login' %}?next={{ request.path }}" method="post">
        {% csrf_token %}
        <div class="form-group">
            <input type="text" class="form-control" placeholder="Логин" id="id_username" name="username">
        </div>
        <div class="form-group">
            <input type="password" class="form-control" placeholder="Пароль" id="id_password" name="password">
        </div>
        <button type="submit" class="btn btn-info">Войти</button>
    </form>
    {% endif %}
    </div>
</div>
</nav>
{{ login_form }}

