{% load static %}

<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
                <a href="{% url 'index' %}" class="navbar-brand">
                    <img src="/media/logo2.jpg" height="40" >
                </a>
        </div>

    <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
            {% if request.path == '/' %}
                <li class="active">
            {% else %}
                <li>
            {% endif %}
            <a href="{% url 'index' %}" id="home_link">Главная</a></li>
            {% if '/articles/' in request.path %}
                <li class="active">
            {% else %}
                <li>
            {% endif %}
            <a href="{% url 'articles:list' %}" id="articles_list_link">Статьи</a></li>
            {% if request.path == '/book/' %}
                <li class="active">
            {% else %}
                <li>
            {% endif %}
            <a href="{% url 'book:index' %}">Книга</a></li>

        </ul>
        <div class="dropdown nav navbar-nav">
            <a id="drop" href="{% url 'auth_logout' %}?next={{ request.path }}"
            class="btn btn-link navbar-btn btn-circle dropdown-toggle"
               data-toggle="dropdown" aria-expanded="false" aria-haspopup="true" role="button">
                    <i class="glyphicon glyphicon-user"></i><span>{{ user.username }}</span>
                <i class="glyphicon glyphicon-triangle-bottom icon-resize-small"></i>
            </a>
                <ul class="dropdown-menu" role="menu" aria-labelledby="drop">
                    <li class="dropdown-item"><a href="{% url 'auth_logout' %}?next={{ request.path }}">Изменить</a></li>
                    <li class="dropdown-item"><a href="{% url 'auth_logout' %}?next={{ request.path }}">Выйти</a></li>
                </ul>
        </div>
        {% if user.is_authenticated %}
            <div class="dropdown navbar-right">
            </div>
        {% else %}
            <a href="{% url 'auth_login' %}?next={{ request.path }}" class="btn btn-link navbar-btn navbar-right btn-circle"><i class="glyphicon glyphicon-user"></i><span>войти</span></a>
        {% endif %}
    </div>
</div>
</nav>
