{% extends 'base.html' %}
{% block title %}{{ article.title }}{% endblock %}
{% block content %}
<div class="article_container">
    <h1>{{ article.title }}</h1>
    <p>{{ article.date_written }}</p>
    {{ article.text|safe }}
</div>
{% if article.comment_set %}
    {% for comment in article.comment_set.all %}
        <div class="comment">
            <p>{{ comment.text }}</p>
            {% if comment.created_by == user %}
                <p>
                    <a href="#">update</a>
                    <form method="post" action="{% url 'articles:delete_comment' comment.pk %}">
                        {% csrf_token %}
                        <input type="submit" value="delete">
                    </form>
                </p>
            {% endif %}
        </div>
    {% endfor %}
{% endif %}
{% if user.is_authenticated %}
<form method="POST" action="{% url 'articles:add_comment' article.id %}">
    {% csrf_token %}
    <input type="text" id="comment_input" name="comment_text">
    <input type="submit" value="Submit">
</form>
    {% else %}
    <p>You must be <a href="{% url 'auth_login' %}">logged in</a> to add comments</p>
{% endif %}
{% endblock %}
